@page "/Statistics"
@using Assignment1.Data
@using Models
@inject IAdultService AdultService;
<h3>Statistics</h3>
<SfChart>
  
    <ChartSeriesCollection>
        <ChartSeries Type="ChartSeriesType.Column" DataSource="@Datas"
                     XName="Gender" YName="Count">
        </ChartSeries>
    </ChartSeriesCollection>
</SfChart>

@code {
    /* IList<Adult> adults;
    int countMale;
    int countFemale;*/
    List<AdultData> datas;

    /*protected override async Task OnInitializedAsync()
    {
        adults = AdultService.GetAdults();
        foreach (var adult in adults)
        {
            if (adult.Sex.Equals("M"))
            {
                countMale++;
            }
            if (adult.Sex.Equals("F"))
            {
                countFemale++;
            }
        }
        datas = new List<AdultData>
        {
            new AdultData {Gender = "Male", Count = countMale},
            new AdultData {Gender = "Female", Count = countFemale}
        };
    }*/

    public class SalesData
    {
        public string Gender { get; set; }
        public int Count { get; set; }
    }

    public List<SalesData> Datas = new List<SalesData>
    {
        new SalesData {Gender = "Male", Count = 12},
        new SalesData {Gender = "Female", Count = 30}
    };

}